[DEFAULT]
logging_folder = /var/log/mysqlrouter
runtime_folder = /var/run/mysqlrouter
data_folder = /var/lib/mysqlrouter
plugin_folder = /usr/lib/mysqlrouter
master_key_path = /var/lib/mysqlrouter/keyring

[logger]
level = INFO

[metadata_cache:kledo_cluster]
router_id = router1
bootstrap_server_addresses = mysql1:3306,mysql2:3306,mysql3:3306
user = router
metadata_cluster = kledo_cluster

[routing:kledo_rw]
bind_address = 0.0.0.0
bind_port = 6446
destinations = metadata_cache:kledo_cluster://primary
routing_strategy = first-available

[routing:kledo_ro]
bind_address = 0.0.0.0
bind_port = 6447
destinations = metadata_cache:kledo_cluster://secondary
routing_strategy = round-robin
